<h1>Course Information Form</h1>

<form>
    <!-- Course Input Box -->
    <!-- <label for="fcourse">Course:</label>
    <input type="text" id="fcourse" name="course" required>
    
    <br> -->

    <!-- Title Input Box -->
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" required>
    <br>


    <!-- Subtitle with Yes/No Radio Buttons -->
    <span>Subtitle:</span>
    <br>
    <input type="radio" id="yesSubtitle" name="subtitle" value="yesSubtitle"
        onclick="toggleVisibility('yesSubtitle','subtitleDetails','descriptionDetails')">
    <label for="yesSubtitle">Yes</label>
    <br>
    <input type="radio" id="noSubtitle" name="subtitle" value="noSubtitle"
        onclick="toggleVisibility('noSubtitle','subtitleDetails','descriptionDetails')">
    <label for="noSubtitle">No</label>

    <br>

    <div id="descriptionDetails" style="display: none; flex-direction: column;">
        Description:
        <div id="quill-editornormal" aria-label="Editor for describing something"></div>
    </div>


    <div id="subtitleDetails" style="display: none; flex-direction: column;">
        <br>

        <!-- Sub Button Input Box -->
        <button type="button" id="subButtonBtn" onclick="toggleVisibility('yesSubtitle','subtDescVisiblity')">New
            Sub</button>
        <br>

        <ul id="todoList"></ul>

        <div id="subtDescVisiblity" style="display: none; flex-direction: column;">
            <!-- Title Input Box -->
            <label for="subTitleInput">Sub Title:</label>
            <input type="text" id="subTitleInput" name="subTitleInput" required>
            <br>

            <!-- Description Input Box -->
            Description:
            <div id="quill-editorSub" name="description"></div>
            <br>

            <button type="button" onclick="addTodo()">Add</button>
        </div>

    </div>

    <br><br>
    <!-- Submit Button -->
    <input id="submitButton" type="submit" value="Submit" onclick="handleAddCourseSubmit()">
</form>