<h1>Delete Course </h1>

<!-- Course Dropdown -->
<label for="deleteCourse">Select Course:</label>
<select id="deleteCourse">
    <option value="" selected disabled>Select Course</option>
    <% for (var i=0; i < CourseList.length; i++) { %>
        <option value="<%= CourseList[i].Title %>">
            <%= CourseList[i].Title %>
        </option>
        <% } %>
</select>
<br>

<!-- Subtitle Dropdown -->
<div id="deletesubtitleVisiblity" style="display: none; flex-direction: column;">
    <label for="deletesubtitle">Select Subtitle:</label>
    <select id="deletesubtitle" multiple>       
        <!-- Add more options as needed -->
    </select>
    <br>
</div>

<button type="button" id="deleteSubmitBtn" 
    onclick="deleteCourse()">Delete</button>
<br>