<h1>Course Details</h1>

<!-- Course Dropdown -->
<label for="course">Select Course:</label>
<select id="course">
    <option value="" selected disabled>Select Course</option>
    <% for (var i=0; i < CourseList.length; i++) { %>
        <option value="<%= CourseList[i].Title %>">
            <%= CourseList[i].Title %>
        </option>
        <% } %>
</select>
<br>

<!-- Subtitle Dropdown -->
<div id="subtitleVisiblity" style="display: none; flex-direction: column;">
    <label for="subtitle">Select Subtitle:</label>
    <select id="subtitle" onchange="handleSubtitleSelection()">
        <!-- Add more options as needed -->
    </select>
    <br>
    <button type="button" id="subButtonBtn"
        onclick="toggleVisibility('yesSubtitle','upAddSubtDescVisiblity','subtitleContent')">New Sub</button>
    <br>

    <div id="upAddSubtDescVisiblity" style="display: none; flex-direction: column;">
        <!-- Title Input Box -->
        <label for="upAddsubTitle">Sub Title:</label>
        <input type="text" id="upAddsubTitle" name="subTitle" required>
        <br>

        <!-- Description Input Box -->
        Description:
        <div id="quill-editorSubupAdd" name="description"></div>
        <br>

        <button type="button" id="updateAddBtn" onclick="updateAddSubTitle()">Add</button>
    </div>
    <div id="subtitleContent" style="display: none; flex-direction: column;">
        <!-- Title Input Box -->
        <label for="updatesubTitle">Sub Title:</label>
        <input type="text" id="updatesubTitle" name="subTitle" required>
        <br>

        <!-- Description Input Box -->
        Description:
        <div id="quill-editorSubup" name="description"></div>
        <br>

        <button type="button" id="updateBtn" onclick="updateCourseListSubtitle()">Update Subtitle</button>
    </div>
    <br>
    <!-- <button onclick="fetchUpdateCourseSubList()">Update</button> -->
</div>


<!-- Description Input Box -->
<div id="descriptionVisiblity" style="display: none;">
    Description:
    <div id="quillUpdateDescription" name="description"></div>
    <!-- <textarea id="updateDescription" rows="4" placeholder="Enter course description..."></textarea> -->
    <br>
    <button onclick="updateCourseListDescrition()">Update</button>
</div>