<h1>UPDATE TESTIMONIAL</h1>

<label for="deleteTestimonial">Select Testimonial:</label>
<select id="deleteTestimonial" >
    <option value="" selected disabled>Select Testimonial</option>
    <% for (var i=0; i < Testimonials.length; i++) { %>
        <option value="<%= Testimonials[i].name %>">
            <%= Testimonials[i].name %>
        </option>
        <% } %>
</select>
<br>



<button type="button" onclick="handleDeleteTestimonial()">Delete</button>