<h1>UPDATE TESTIMONIAL</h1>

<label for="updateTestimonial">Select Testimonial:</label>
<select id="updateTestimonial" onchange="handleUpdateTestimonial()">
    <option value="" selected disabled>Select Testimonial</option>
    <% for (var i=0; i < Testimonials.length; i++) { %>
        <option value="<%= Testimonials[i].name %>">
            <%= Testimonials[i].name %>
        </option>
        <% } %>
</select>
<br>

<label for="UpdateTestimonialName">Name:</label>
<input type="text" id="UpdateTestimonialName" name="Testimonial Name" required>
<br>

<label for="UpdateTestimonialDescription">Description:</label>
<textarea id="UpdateTestimonialDescription" name="Testimonial Description" rows="4" required></textarea>
<br>

<button type="button" id="updateTestimonialBtn" onclick="handleUpdateSubmitTestimonial()">Submit</button>