<h1>Add Notification</h1>

<form>

    <!-- Title Input Box -->
    <label for="notificationName">Title:</label>
    <input type="text" id="notificationName" name="notificationName" required>
    <br>


    <!-- Subtitle with Yes/No Radio Buttons -->
    <!-- <span>Subtitle:</span> -->
    <br>

    <label for="quill-addNotification">Description:</label>
    <div id="quill-addNotification" aria-label="Editor for describing something"></div>


    <!-- Submit Button -->
    <input id="submitButton" type="submit" value="Submit" onclick="handleAddNotificationSubmit(event)">
</form>