<h1>DELETE NOTIFICATION</h1>

<label for="deleteNotification">Select Notification:</label>
<select id="deleteNotification" >
    <option value="" selected disabled>Select Notification</option>
    <% for (var i=0; i < NotificationList.length; i++) { %>
        <option value="<%= NotificationList[i].name %>">
            <%= NotificationList[i].name %>
        </option>
        <% } %>
</select>
<br>



<button type="button" id="deleteNotificationBtn" onclick="handleDeleteNotification()">Delete</button>