<h1>update Notification</h1>

<label for="updateNotification">Select Notification:</label>
<select id="updateNotification" onchange="handleUpdateNotification()">
    <option value="" selected disabled>Select Notification</option>
    <% for (var i=0; i < NotificationList.length; i++) { %>
        <option value="<%= NotificationList[i].name %>">
            <%= NotificationList[i].name %>
        </option>
        <% } %>
</select>
<br>

<label for="UpdateNotificationName">Name:</label>
<input type="text" id="UpdateNotificationName" name="Notification Name" required>
<br>

Description:
<div id="quill-UpdateNotification" name="description"></div>

<br>
<button type="button" id="updateNotificationBtn" onclick="updateNotificationList()">Update</button>