<h1>ADD VIDEO</h1>

<form id="uploadVideoForm" enctype="multipart/form-data">
    <input type="text" id="videoIdInput" name="video" required>
    <button type="button" onclick="uploadvideo()">Upload</button>
</form>

<div id="videoContainer">
    <% videos.forEach(video=> { %>
        <div class="imageWrapper">
            <iframe width="300px" height="200px" src="https://www.youtube.com/embed/<%= video %>"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <span class="deleteIcon" onclick="deleteVideo('<%= video %>')">❌</span>
        </div>
        <% }); %>
</div>