#imageContainer {
    display: flex;
    flex-wrap: wrap;
}

.imageWrapper {
    position: relative;
    margin: 10px;
}

.deleteIcon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: none;
}

.imageWrapper:hover .deleteIcon {
    display: block;
}