/* Reset some default styles for list items */
.heading{
    text-align: center;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; /* Add padding as needed */
}

.feature {
    flex: 1;
    text-align: center;
    padding: 20px; /* Add padding as needed */
    border: 1px solid #ccc; /* Add a border for separation */
    margin: 0 10px; /* Add margin for spacing */
}

.feature h2 {
    font-size: 1.5rem;
}

.feature p {
    font-size: 1rem;
    color: #555;
}