/* Container styles */
.container {
    background-color: white;
    padding: 30px 100px 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(143, 138, 138, 0.1);
    position: relative; /* Add position relative to the container */
  }
  
  .container b {
    font-size: 24px;
  }
  
  /* Button and dropdown styles */
  button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .home-icon{
    color: red;
  }
  
  button:hover {
    background-color: darkred;
  }

  /* Dropdown container */
  .about-us .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    top: calc(100% + 10px); /* Position the dropdown below "About Us" */
    width: 100%;
  }
  
  .about-us:hover .dropdown-content {
    display: block;
  }
  
  /* Dropdown options */
  .dropdown-content > div {
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
  }
  
  .dropdown-content > div:hover {
    background-color: #f2f2f2;
  }
  
  /* Courses dropdown */
  .courses .courses-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
  }
  
  .courses:hover .courses-dropdown-content {
    display: block;
  }
  