/* Card.css */
.heading {
  align-items: center;
}
.back-button {
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  margin-left: 20px;
  margin-right: 20px;
}

.card {
  width: 30%;
  margin-left: 20px;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background-color: #eeeeee;
}

.card:hover {
  border: 2px solid #e20909;
}

.card-img {
  margin-top: 20px;
  width: 90%;
  height: 100%;
  object-fit: cover;
}

.buy-button {
  /* position: absolute; */
  bottom: 0px;
  left: 50%;
  border-radius: 3px;
  /* transform: translateX(-50%); */
  padding: 8px 86px;
  background-color: #da0f0f;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 15px;
}

.buy-button:hover {
  background-color: darkred;
}
.back-button {
  text-align: left;
}
.sub-product-name {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 10px;
}
.container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.search-container {
  display: flex;
  align-items: center;
}

input[type="text"] {
  position: right;
  padding: 8px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.no-results-message {
  color: red;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Stack cards vertically on small screens */
    align-items: center; /* Center cards on small screens */
  }

  .card {
    width: 70%; /* Cards take full width on small screens */
    margin-left: 0px;
  }
  .back-button {
    position: left;
    margin-left: 0px;
  }
  .sub-product-name {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 10px;
  }
  .card-img {
    width: 90%;
    height: auto; /* Set the height to 50% of the card */
    object-fit: cover ;
    margin: 10px;
  }
}
