<h1>Proudct Information Form</h1>

<form>

    <label for="mainProductName">Product Title</label>
    <input type="text" id="mainProductName" name="mainProductName" required>
    
    <div id="productDetails" >
        <!-- Sub Button Input Box -->
        <button type="button" id="subButtonBtn" 
        onclick="toggleVisibility('yesSubtitle','addProductVisiblity')">New Produdct</button>
        <br>

        <ul id="ProductUlList"></ul>

        <div id="addProductVisiblity" style="display: none; flex-direction: column;">
            <!-- subProductName Input Box -->
            <label for="subProductName">Product SubTitle</label>
            <input type="text" id="subProductName" name="subProductName" required>
            <br>

            <!-- Description Input Box -->
            <label for="subProductLink">Product Link</label>
            <input type="text" id="subProductLink" name="product" required>
            <br>

            <button type="button" id="addBtn" onclick="addProductTodo()">Add</button>
        </div>

    </div>

    <br><br>
    <!-- Submit Button -->
    <input type="submit" value="Submit" onclick="handleSubmitProduct()">
</form>