<h1>Product Details</h1>

<!-- Product Dropdown -->
<label for="updateProduct">Select Product:</label>
<select id="updateProduct" onchange="handleUpdateProduct()">
    <option value="" selected disabled>Select Product</option>
    <% for (var i=0; i < productList.length; i++) { %>
        <option value="<%= productList[i].mainProduct %>">
            <%= productList[i].mainProduct %>
        </option>
        <% } %>
</select>
<br>

<!-- <label for="subProductLink">Product Link</label>
<input type="text" id="subProductLink" name="product" required> -->

<!-- Subtitle Dropdown -->
<div id="updateSubProductVisiblity" style="display: none; flex-direction: column;">
    <label for="updateSubProduct">Select Subproduct:</label>
    <select id="updateSubProduct" onchange="handleSubProductSelection()">
        <!-- Add more options as needed -->
    </select>
    <br>
    <button type="button" id="subButtonBtn"
        onclick="toggleVisibility('yesSubtitle','upAddSubtDescVisiblity','updateSelectProduct')">New Sub</button>
    <br>

    <div id="upAddSubtDescVisiblity" style="display: none; flex-direction: column;">
        <!-- Title Input Box -->
        <label for="upAddSubProductName">Sub Product</label>
        <input type="text" id="upAddSubProductName" name="subProductName" required>
        <br>

        <label for="upAddSubProductLink">Product Link</label>
        <input type="text" id="upAddSubProductLink" name="subProductLink" required>

        <label for="updateProductPhoto">Photo Link</label>
        <!-- <input type="file" id="updateProductPhoto" name="productPhoto" accept="image/*" required> -->
        <input type="text" id="updateProductPhoto" name="productPhoto" required>
        <br>

        <!-- Description Input Box -->
        <!-- <label for="quill-editorSubupAdd">Description:</label> -->
        <!-- <div id="quill-editorSub" name="description"></div> -->
        <!-- <div id="quill-editorSubupAdd" name="description"></div> -->
        <br>

        <button type="button" id="updateAddBtn" onclick="updateAddSubProduct()">Add</button>
    </div>
</div>

<div id="updateSelectProduct" style="display: none; flex-direction: column;">
    <!-- Title Input Box -->
    <label for="updatesubProductName">Sub Product</label>
    <input type="text" id="updatesubProductName" name="productTitle" required>
    <br>

    <label for="updatesubProductLink">Product Link</label>
    <input type="text" id="updatesubProductLink" name="productLink" required>
    <br>

    <label for="updatesubProductPhoto">Photo Link</label>
    <input type="text" id="updatesubProductPhoto" name="subproductPhoto" required>

    <button type="button" id="updateBtn" onclick="updateSubProductList()">Update</button>
</div>