<!DOCTYPE html>
<html>

<head>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.snow.css">    
    <link rel="stylesheet" type="text/css" href="css/gallery.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">InspiroIAS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCourses" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCourses" id="courses">
                        <a class="dropdown-item" onclick="loadSection('addCourse',this)">Add</a>
                        <a class="dropdown-item" onclick="loadSection('updateCourse',this) ">Update</a>
                        <a class="dropdown-item" onclick="loadSection('deleteCourse',this)">Delete</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts" id="products">
                        <a class="dropdown-item" onclick="loadSection('addProduct',this)">Add</a>
                        <a class="dropdown-item" onclick="loadSection('updateProduct',this)">Update</a>
                        <a class="dropdown-item" onclick="loadSection('deleteProduct',this)">Delete</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownGallary" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Gallary
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts" id="gallary">
                        <a class="dropdown-item" onclick="loadSection('addPhoto',this)">Photo</a>
                        <a class="dropdown-item" onclick="loadSection('addVideo',this)">Video</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProducts" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Testimonial
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts" id="testimonial">
                        <a class="dropdown-item" onclick="loadSection('addtestimonial',this)">Add</a>
                        <a class="dropdown-item" onclick="loadSection('updateTestimonial',this)">Update</a>
                        <a class="dropdown-item" onclick="loadSection('deleteTestimonial',this)">Delete</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logout</a>
                </li>

            </ul>
        </div>
    </nav>

    <div id="content">
        <!-- This is where the content will be displayed -->
    </div>

    <!-- Include Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="/js/richText.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/course.js" defer></script>
    <script src="/js/product.js" defer></script>
    <script src="/js/gallary.js" defer></script>
    <script src="/js/testimonial.js" defer></script>
</body>

</html>