<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        .login-container {
            max-width: 300px;
            margin: auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 100px;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group label {
            display: block;
            text-align: left;
            margin-bottom: 5px;
        }

        .input-group input {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        .login-btn {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
        }

        .login-btn:hover {
            background-color: #45a049;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            <div class="input-group">
                <label for="adminUserName">Username:</label>
                <input type="text" id="adminUserName" name="username" required>
            </div>
            <div class="input-group">
                <label for="adminUserPassword">Password:</label>
                <input type="password" id="adminUserPassword" name="password" required>
            </div>
            <button type="submit" class="login-btn" onclick="loginSubmit(event)">Submit</button>
        </form>
    </div>

    <script>
        function loginSubmit(event) {
            event.preventDefault();
            const name = document.getElementById("adminUserName");
            const password = document.getElementById("adminUserPassword");

            const formData = new FormData();
            formData.append("name", name.value);
            formData.append("password", password.value);

            // fetch("/api/users/login")
            // http://localhost:5001/api/users/login
            fetch('http://localhost:5001/api/users/login', {
                method: 'POST',
                body: formData,
                headers: {
                    'Content-Type': 'multipart/form-data',
                },
            })
                .then(response => response.json())
                .then(data => {

                })
                .catch(error => {
                    console.error('Error uploading file:', error);
                });
        }

    </script>
</body>

</html>