<!DOCTYPE html>
<html >

<head>
 
    <title>Dynamic Execution Example</title>
    <script>
      var CourseList = [{ Title: 'Sample Course' }];
      console.log("summa")
  </script>
</head>

<body>

    <h1>Dynamic Execution Example</h1>

  <h2><%= CourseList[0].Title %></h2>

  </body>
  
  </html>
